numpy
scipy
pandas
matplotlib
netaddr # network address manipulation library
bs4 # BeatifulSoup
mpmath # arithmetic with arbitrary precision
Pillow # Python Imaging Library
openpyxl # support for ".xlsx" format
squarify # treemap charts
colour # utils for handling RGB colors
